/*
 * CSS style page
 * Structure of the document :
 *  - MAIN USES (46)
 *      . Style
 *      . Paging
 *      . Button
 *      . Image
 *      . Members
 *      . Cards
 *      . Filters
 *  - LAYOUT (198)
 *      . Breadcrumb
 *      . Navbar
 *      . Footer
 *  - WELCOME PAGE (450)
 *      . Main uses
 *      . Carousel of news
 *      . Activités
 *      . Nos projets
 *      . Agenda
 *      . Quelques chiffres
 *      . Partenaires
 *      . Notre équipe
 *      . Notre association
 *      . Mot du directeur
 *      . Contact
 *  - PÔLES (876)
 *      . Main uses
 *      . Projets
 *      . Cours
 *      . Forms
 *      . Calendars
 *      . Users list
 *  - BESOIN D'AIDE (1094)
 *  - DARK PAGE (1112)
 *      . Main uses
 *      . Navbar
 *      . Charts
 *      . News
 *  - USER ACCOUNT (1247)
 *      . Profil
 *      . User page
 *      . Login
 *      . Confirm password 
 *  - COMMENTS (1394)
 *      . Cards
 */


/* ##########################   MAIN USES   ########################## */


/* >>>>>>>>>>>>>>>>>>>> Style <<<<<<<<<<<<<<<<<<<< */

.main {
    font-family: 'Roboto';
}

a {
    outline: none;
}

.line-under-title {
    height: 2px;
    color: #4472C4;
    background-color: #4472C4;
    width: 100px;
    border: none;
}


/* >>>>>>>>>>>>>>>>>>>> Paging <<<<<<<<<<<<<<<<<<<< */

.page {
    position: relative;
    min-height: 100vh;
}

.link-margin-top {
    margin-top: 40px;
}

.page-link {
    color: #254395;
}

.page-item.active .page-link {
    background-color: #254395;
    border-color: #254395;
}

@media only screen and (max-width: 992px) {
    #content {
        padding-bottom: 423.33px;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Button <<<<<<<<<<<<<<<<<<<< */

.line-voir-plus {
    height: 2px;
    color: #A4A4A4;
    background-color: #A4A4A4;
    width: 100%;
    border: none;
}


/* >>>>>>>>>>>>>>>>>>>> Image <<<<<<<<<<<<<<<<<<<< */

.profil-rounded {
    width: 110px;
    height: 110px;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.profil-rounded-small {
    width: 40px;
    height: 40px;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin-right: 16px;
}

.profil-rounded-xsmall {
    width: 24px;
    height: 24px;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin-right: 16px;
}


/* >>>>>>>>>>>>>>>>>>>> Members <<<<<<<<<<<<<<<<<<<< */

.sep-items {
    margin-bottom: 30px;
}

.link-member {
    color: black;
}

a.link-member:hover {
    color: black;
    text-decoration: underline;
}

.desc {
    resize: none;
}


/* >>>>>>>>>>>>>>>>>>>> Cards <<<<<<<<<<<<<<<<<<<< */

.custom-card.card {
    width: 16rem;
    margin: auto;
    min-height: 400px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
}

.custom-card.card .btn {
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.custom-card .card-body {
    background-color: #EDECEC;
}

.card-img-top {
    height: 11rem;
}

.card-title {
    font-size: 1.1rem;
}


/* >>>>>>>>>>>>>>>>>>>> Filters <<<<<<<<<<<<<<<<<<<< */

.filter-options {
    background-color: #E5E5E5;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 23px;
}

.filter-options .col-md-3 {
    margin-top: 10px;
}

.col-md-3 button {
    width: 100%;
}

.btn-search:focus {
    outline: 0 !important;
    box-shadow: none;
}


/* ##########################   LAYOUT   ########################## */


/* >>>>>>>>>>>>>>>>>>>> Breacrumb <<<<<<<<<<<<<<<<<<<< */

.breadcrumb-container {
    margin-top: 72px;
    margin-left: 120px;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb i {
    color: black;
}

.breadcrumb .active {
    background-color: transparent;
}

@media only screen and (max-width: 436px) {
    .breadcrumb-container {
        margin-top: 120px;
        margin-left: 30px;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<<<<<<<< */

li.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-left: .7rem;
    padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link:visited {
    color: white;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link:link {
    color: white;
    opacity: 1;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-brand {
    position: fixed;
    top: 10px;
    margin-left: 1rem;
}

.navbar-brand img {
    border-radius: 50%;
    box-shadow: 0px 5px 14px -2px rgba(0, 0, 0, 0.75);
}

.navbar {
    background-color: transparent;
    transition: background-color 1s ease 0s;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 7px 17px -5px rgba(0, 0, 0, 0.5);
    min-height: 72px;
}

.nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 18px;
    padding-right: 18px;
    background-color: transparent;
}

.dropdown-click {
    background-color: #254395;
}

.navbar-nav .nav-item.onglet:hover {
    background-color: #254395;
}

.navbar-nav a {
    text-decoration: none;
}

.active {
    background-color: #254395;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.btn-rounded {
    background-color: #254395;
    border-radius: 50px;
    border-color: transparent;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-roundet:focus {
    outline: 0;
}

.hidden {
    visibility: hidden;
    cursor: default;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-toggler {
    margin-top: 16px;
    margin-bottom: 16px;
    outline: none;
}

.navbar-default .navbar-toggler {
    border-color: rgba(255, 255, 255, .1);
}

.fa-bars {
    font-size: 25px;
    color: white;
}

.navbar-collapse {
    background-color: transparent;
}

@media only screen and (max-width: 1199px) {
    .nav-item {
        padding-top: .2rem;
        padding-bottom: .2rem;
    }
    .navbar-collapse {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .connexion {
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.dropdown-menu {
    box-shadow: 0px 7px 17px -5px rgba(0, 0, 0, 0.35);
}


/* >>>>>>>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<<<<<<< */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 200px;
}

#content {
    padding-bottom: 250px;
}

.page-footer {
    background-color: #5C6FA3;
    color: white;
    font-family: 'Roboto';
}

.footer-copyright {
    margin-right: 20px;
}

.social-buttons {
    margin-top: 50px;
    margin-bottom: 18px
}

#projet-show a i {
    color: gray;
}

.social-buttons a {
    color: gray;
}

.social-buttons a:hover {
    text-decoration: none;
    color: black;
}

#projet-show a:hover i {
    text-decoration: none;
    color: black;
}

.social-icons {
    margin-left: 50px;
}

.social-icons:first-of-type {
    margin-left: 0;
}

@media (max-width: 393px) {
    .social-icons {
        margin-left: 30px;
    }
}

@media (max-width: 347px) {
    .fab {
        font-size: 3em;
    }
}

@media (max-width: 314px) {
    .social-icons {
        margin-left: 20px;
    }
}

.social-buttons .fab {
    color: rgba(255, 255, 255, 0.9)
}

.social-buttons .fab:hover {
    color: rgba(215, 215, 215, 0.9)
}


/* ##########################   WELCOME PAGE   ########################## */


/* >>>>>>>>>>>>>>>>>>>> Main uses <<<<<<<<<<<<<<<<<<<< */

.section.grise {
    background-color: #e4ecfe;
}

.section:not(#actu) {
    padding-top: 50px;
    padding-bottom: 80px;
}

.section .line-under-title {
    margin-bottom: 40px;
}

@media (max-width: 486px) {
    .section .title {
        font-size: 2.0rem;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Carousel of news <<<<<<<<<<<<<<<<<<<< */

#carousel-actualite .styled {
    border-radius: 50px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border-color: #254395;
    font-family: 'Roboto';
    outline: none;
}

#carousel-actualite .styled:hover {
    background-color: #254395;
    border-color: transparent;
    outline: none;
}

#carousel-actualite .carousel-item {
    font-family: 'Roboto';
}

#carousel-actualite .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

#carousel-actualite .carousel-caption h1 {
    font-size: 4em;
    font-weight: bold;
}

#carousel-actualite .carousel-caption p {
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
    #carousel-actualite .carousel-caption h1 {
        font-size: 3em;
        font-weight: bold;
    }
    #carousel-actualite .carousel-caption p {
        font-size: 1.3em;
    }
}

#carousel-actualite .actu {
    width: 100%;
    height: 100vh;
    position: relative;
}

#carousel-actualite .actu:before {
    content: "";
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


/* >>>>>>>>>>>>>>>>>>>> Activités <<<<<<<<<<<<<<<<<<<< */

#poles-activites .card {
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 250px;
    text-align: center;
    background-position: center;
    transition-duration: .2s;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#poles-activites .card-img {
    height: 100%;
}

.rgba-black-strong,
.rgba-black-strong:after {
    background-color: rgba(0, 0, 0, 0.3);
}

#poles-activites .card-img:hover {
    text-decoration: none;
}

#poles-activites .card:hover {
    filter: brightness(.5);
    background-size: 150% 150%;
}


/* >>>>>>>>>>>>>>>>>>>> Nos projets <<<<<<<<<<<<<<<<<<<< */

@media (max-width: 767px) {
    #nos-projets .carousel-inner .carousel-item>div {
        display: none;
    }
    #nos-projets .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
    #nos-projets .rounded-circle {
        margin: 50px;
    }
}

@media (min-width: 767px) {
    #nos-projets .rounded-circle {
        margin: -30px;
    }
}

@media (max-width: 510px) {
    #nos-projets .rounded-circle {
        margin: 20px;
    }
}

@media (max-width: 446px) {
    #nos-projets .rounded-circle {
        margin: 0;
    }
}

#nos-projets .carousel-inner .carousel-item.active,
#nos-projets .carousel-inner .carousel-item-next,
#nos-projets .carousel-inner .carousel-item-prev {
    display: flex;
    background-color: transparent;
}

@media (min-width: 768px) {
    #nos-projets .carousel-inner .carousel-item-right.active,
    #nos-projets .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    #nos-projets .carousel-inner .carousel-item-left.active,
    #nos-projets .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

@media (min-width: 1300px) {
    #nos-projets .container-fluid {
        padding-left: 200px;
        padding-right: 200px;
    }
}

#nos-projets .carousel-inner .carousel-item-right,
#nos-projets .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

#nos-projets .card-body {
    background-color: white;
}

#nos-projets .card {
    margin: auto;
}

@media (max-width: 1000px) and (min-width: 768px) {
    #nos-projets .card {
        width: 100%;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Agenda <<<<<<<<<<<<<<<<<<<< */

.google-agenda {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
}

.google-agenda iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 990px) {
    .google-agenda {
        padding-bottom: 70%
    }
}

@media only screen and (max-width: 400px) {
    .google-agenda {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 150%
    }
}


/* >>>>>>>>>>>>>>>>>>>> Quelques chiffres <<<<<<<<<<<<<<<<<<<< */

#quelques-chiffres {
    padding-bottom: 50px;
}

#quelques-chiffres .chiffres {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quelques-chiffres .chiffre {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* >>>>>>>>>>>>>>>>>>>> Partenaires <<<<<<<<<<<<<<<<<<<< */

#partenariat .logo-pres {
    width: 213px;
    border: none;
}

#partenariat img:hover {
    filter: brightness(.5);
}

#partenariat p {
    padding-top: 5px;
    text-align: center;
    font-style: italic;
    color: grey;
}


/* >>>>>>>>>>>>>>>>>>>> Notre équipe <<<<<<<<<<<<<<<<<<<< */

#equipe {
    margin-bottom: -80px;
}

#equipe .respo #nom {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

#equipe .respo:hover {
    text-decoration: underline #254395;
}

#equipe .respo #fonction {
    margin-top: -10px;
    text-align: center;
    color: #4d4d4d;
}

#equipe .respos .text-center {
    margin-bottom: 80px;
}


/* >>>>>>>>>>>>>>>>>>>> Notre association <<<<<<<<<<<<<<<<<<<< */

#association img {
    max-width: 100%;
    height: auto;
}

#association #asso-img {
    padding-top: 12px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}

#association #asso-img p {
    padding-top: 12px;
}

#association #asso-txt {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

@media only screen and (max-width: 1864) {
    #association .asso .row {
        flex-direction: column;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Mot du directeur <<<<<<<<<<<<<<<<<<<< */

#mot-du-directeur {
    text-align: center;
}

.directeur {
    margin-right: 25px;
    margin-left: 25px;
}

#mot-du-directeur #nom {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.4em;
}

#mot-du-directeur #fonction {
    color: #4d4d4d;
    margin-top: -10px;
    margin-left: 30px;
    margin-right: 30px;
}

#mot-du-directeur h5 {
    font-style: italic;
    margin-bottom: 75px;
    font-size: 1.3rm;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -50px;
}

@media only screen and (max-width: 1579px) {
    #mot-du-directeur h5 {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1379px) {
    #mot-du-directeur h5 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

#mot-du-directeur .directeur {
    justify-content: center;
}


/* >>>>>>>>>>>>>>>>>>>> Contact <<<<<<<<<<<<<<<<<<<< */

@media only screen and (max-width: 1200px) {
    #contact .row {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
    #contact iframe {
        width: 527px;
        margin-top: 60px;
    }
    #contact #contact_cont {
        min-width: 660px;
    }
    #contact .form-control {
        width: 100%;
    }
}

@media only screen and (max-width: 664px) {
    #contact #contact_cont {
        min-width: 100%;
    }
    #contact .form-control {
        width: 100%;
    }
}

@media only screen and (max-width: 574px) {
    #contact iframe {
        width: 100%;
    }
}


/* ##########################   PÔLES   ########################## */


/* >>>>>>>>>>>>>>>>>>>> Main uses <<<<<<<<<<<<<<<<<<<< */

.respo {
    margin-top: 20px;
}


/* >>>>>>>>>>>>>>>>>>>> Projets <<<<<<<<<<<<<<<<<<<< */

.user-link {
    color: black;
}

.user-link:hover {
    color: black;
    text-decoration: none;
}

.chef-projet:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#projet #carouselExampleIndicators {
    height: 400px;
    width: 600px;
}

#projet .carousel-inner {
    height: 100%;
    width: 100%;
}

#projet .carousel-item {
    height: 100%;
    width: 100%;
}

#projet #carouselExampleIndicators img {
    height: 100%;
    width: 100%;
}


/* >>>>>>>>>>>>>>>>>>>> Cours <<<<<<<<<<<<<<<<<<<< */

i#chevron-date-supports {
    color: #254395;
}

a.link-black {
    color: black;
    cursor: default;
}

a.link-black:hover {
    cursor: default;
}

.support-download-hover:hover {
    color: #007bff;
}

.sep-chevr {
    margin-bottom: 15px;
    padding-right: 0px;
}

div.bordure {
    border-bottom: 1px solid #5C6FA3;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#cours .disp img {
    width: 100%;
}

#cours .col-md-auto {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    #cours .disp img {
        width: 300px;
        padding-bottom: 30px;
    }
    #cours .col-3 {
        display: flex;
        justify-content: center;
    }
    #cours #description .row {
        flex-direction: column;
    }
    #cours .disp {
        min-width: 100%;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Forms <<<<<<<<<<<<<<<<<<<< */

.form-title {
    margin-top: 40px;
}

.form-title-small {
    margin-top: 10px;
    font-size: 1.1rem;
}


/* >>>>>>>>>>>>>>>>>>>> Calendars <<<<<<<<<<<<<<<<<<<< */

.calendar-step-edt #calendar-pres #calendar-dist #calendar-comp #calendar-pres-upd #calendar-step #calendar-dist-upd #calendar-comp-upd {
    visibility: hidden;
    max-width: 250px;
}

#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

.cal-step-dates-edt #cal-step-dates #cal-pres-dates #cal-dist-dates #cal-comp-dates #cal-pres-dates-upd #cal-dist-dates-upd #cal-comp-upd {
    display: block;
}

.e-calendar .e-content td.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
    background-color: #254395;
    border: none;
    border-radius: 50%;
    color: #fff;
}

.e-calendar .e-content td.e-today.e-selected:hover span.e-day,
.e-calendar .e-content td.e-selected:hover span.e-day,
.e-calendar .e-content td.e-selected.e-focused-date span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: #254395;
    color: #fff;
}

.e-calendar .e-content td.e-today:hover span.e-day,
.e-calendar .e-content td.e-focused-date.e-today:hover span.e-day,
.e-calendar .e-content td.e-focused-date.e-today:focus span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
    background-color: #eee;
    border: 1px solid #254395;
    color: #254395;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: #eee;
    border: 1px solid #254395;
    color: #254395;
}

.e-calendar .e-content td.e-today.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
    background-color: #254395;
    border: 1px solid #254395;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
}

.e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: none;
    border: 1px solid #254395;
    border-radius: 50%;
    color: #254395;
}


/* >>>>>>>>>>>>>>>>>>>> Users list <<<<<<<<<<<<<<<<<<<< */

.total-members {
    font-style: italic;
    margin-bottom: 0;
}

.respo #nom {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.respo:hover {
    color: underline black;
}

.respo #fonction {
    margin-top: -10px;
    text-align: center;
    color: #4d4d4d;
}


/* >>>>>>>>>>>>>>>>>>>> Timeline <<<<<<<<<<<<<<<<<<<< */

#projet ul.timeline, #pole ul.timeline {
    list-style-type: none;
    position: relative;
}

#projet ul.timeline:before, #pole ul.timeline:before {
    content: ' ';
    background: #5C6FA3;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

#projet ul.timeline>li, #pole ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

#projet ul.timeline>li:before, #pole ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #2d64ba;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

#projet ul.timeline>li#today:before, #pole ul.timeline>li#today:before {
    border: 3px solid #de4242;
}

#projet #button-upd-step, #pole #button-upd-step {
    background: none;
    border: none;
    margin-left: 15px;
    margin-right: 10px;
}

#projet .buttons-timeline-edit, #pole .buttons-timeline-edit {
    background-color: transparent;
    color: #2d64ba;
}

#projet .buttons-timeline-trash, #pole .buttons-timeline-trash {
    background-color: transparent;
    color: #de4242;
}

#projet #button-new-step, #pole #button-new-step {
    margin-left: auto;
    margin-right: auto;
}

#projet #button-trash:hover, #pole #button-trash:hover {
    text-decoration: none;
}


/* ##########################   BESOIN D'AIDE   ########################## */

#besoin-aide .formulaire-besoin-aide {
    padding-left: 100px;
    padding-right: 100px;
}

#besoin-aide label {
    font-size: 1.3rem;
    font-weight: bold;
}

#besoin-aide {
    padding-top: 20px;
    padding-bottom: 100px;
}


/* ##########################   DARK PAGE   ########################## */


/* Main uses */

.dark-page .s-title {
    background-color: white;
    color: white;
}

.dark-page h1 {
    color: white;
}


/* Navbar */

.bandeau-dark {
    height: 72px;
    background-color: #20242e;
}

.navbar-dark-brand {
    margin-top: -70px;
    margin-bottom: 30px;
}

.navbar-dark-brand img {
    border-radius: 50%;
    box-shadow: 0px 5px 14px -2px rgba(0, 0, 0, 0.75);
}

.dark-page .nav {
    background-color: #20242e;
    width: 300px;
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

.dark-page .tab-content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.dark-page .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.dark-page .active {
    background-color: transparent;
}

.dark-page .nav-link.active {
    background-color: #131722;
}

.dark-page .tab-pane {
    padding-top: 30px;
}

.dark-page .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
    border-radius: 0;
    font-size: 1rem;
}

.dark-page .dropdown {
    float: right;
    margin-right: 40px;
    margin-top: 18px;
}

.dark-page .dropdown .dropdown-toggle {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

.dark-page .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.dark-page .dropdown-menu {
    width: 100%;
}

.dark-page .bandeau-dark img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

@media only screen and (max-width: 1088px) {
    .dark-page .nav {
        width: 200px;
    }
    .dark-page .nav-link {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 800px) {
    .dark-page .total {
        display: none;
    }
    .dark-page .dropdown {
        margin-right: 10px;
    }
    .dark-page .nav {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .dark-page .short {
        display: none;
    }
}

@media only screen and (max-width: 436px) {
    .dark-page .title {
        font-size: 1.8rem;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Charts <<<<<<<<<<<<<<<<<<<< */

.dark-page #v-pills-ens h2 {
    color: white;
    font-size: 15pt;
    font-weight: 300;
}

.dark-page #v-pills-ens .widget {
    width: 600px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.dark-page #v-pills-ens .widget-content {
    width: 100%;
}

.dark-page #v-pills-ens #widgets_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dark-page #v-pills-ens .widget p {
    color: white;
    margin-top: 40px;
    font-size: 60pt;
}

@media only screen and (max-width: 600px) {
    .dark-page #v-pills-ens .widget {
        width: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .dark-page #v-pills-ens .widget {
        width: 300px;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Members <<<<<<<<<<<<<<<<<<<< */

.dark-page #v-pills-membres #members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-page #v-pills-membres #button-new-member {
    background-color: #20242e;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-color: transparent;
}

.dark-page #v-pills-membres .row {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #20242e;
    color: white;
}

.dark-page #v-pills-membres .row .p-2 {
    margin-top: auto;
    margin-bottom: auto;
}

.dark-page #v-pills-membres .row .d-flex {
    width: 100%;
}

.dark-page #v-pills-membres .row .profil-rounded {
    width: 70px;
    height: 70px;
}

.dark-page #v-pills-membres .row #username {
    margin-left: 30px;
    font-size: 14pt;
}

.dark-page #v-pills-membres .row #image {
    margin-left: 20px;
    margin-right: 10px;
}

.dark-page #v-pills-membres .row #buttons {
    right: 0
}

.dark-page #v-pills-membres .row .button-panel {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #131722;
    color: white;
    border-color: transparent;
}

.dark-page #v-pills-membres .modal-content {
    background-color: rgba(32, 36, 46, 0.9);
    color: white;
}

.dark-page #v-pills-membres .user-info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dark-page #v-pills-membres #form-edit {
    padding: 1rem;
}

.dark-page #v-pills-membres #search:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 950px) {
    .dark-page #v-pills-membres .row .d-flex {
        flex-direction: column;
    }
    .dark-page #v-pills-membres .row #image {
        margin-left: auto;
        margin-right: auto;
    }
    .dark-page #v-pills-membres .row #username {
        margin-left: auto;
        margin-right: auto;
    }
    .dark-page #v-pills-membres .row #buttons {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .dark-page #v-pills-membres #members-container {
        margin-bottom: 200px;
    }
    .dark-page #v-pills-membres #button-new-member {
        width: 250px;
    }
}


/* >>>>>>>>>>>>>>>>>>>> News <<<<<<<<<<<<<<<<<<<< */

.dark-page #v-pills-actu .actu-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.dark-page #v-pills-actu .modal-content {
    background-color: rgba(32, 36, 46, 0.9);
    color: white;
}

.dark-page #v-pills-actu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-page #v-pills-actu #button-new-news {
    background-color: #20242e;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-color: transparent;
}

.dark-page #v-pills-actu .title-actu {
    color: white;
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dark-page #v-pills-actu .title-actu:hover {
    text-decoration: none;
}

.dark-page #v-pills-actu {
    color: white;
}

.dark-page #v-pills-actu .button-panel {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #20242e;
    color: white;
    border-color: transparent;
    width: 230px;
}

.dark-page #form-edit img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.dark-page .input-group>.form-control {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .dark-page #form-edit img {
        width: 100%;
    }
}


/* ##########################   USER ACCOUNT   ########################## */


/* >>>>>>>>>>>>>>>>>>>> Profil <<<<<<<<<<<<<<<<<<<< */

.rank-label-container {
    border-radius: 40px;
    background-color: #254395;
    color: white;
    font-size: small;
    padding: 2px 10px;
    margin-top: -15px;
}

#avatar {
    margin-top: -15px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    border-radius: 40px;
    background-color: #254395;
    color: white;
    font-size: small;
    padding: 2px 10px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: rgb(0, 105, 217);
}

.profil-card {
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    margin-left: 100px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .profil-card {
        margin-left: 0;
    }
}

.profil-edit {
    padding: 25px;
}

.profil-edit,
.profil-show-cours {
    margin-left: 0;
}

.profil-card-header {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(206, 212, 218);
    margin-left: 0;
    margin-right: 0;
}

.profil-card-body {
    max-height: 200px;
    margin: 0;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profil-card-item {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 55px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    color: inherit;
    overflow: hidden;
}

.profil-card-item:hover {
    box-shadow: 15px 4px 14px -2px rgba(0, 0, 0, 0.25);
    color: inherit;
    text-decoration: none;
}

#form-profil-edit {
    margin-top: 40px;
    width: 100%;
}

.custom-form-control {
    border-radius: 0;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
}

.input-group>.form-control.margin-bottom {
    margin-bottom: 2rem;
}

.custom-form-control:focus {
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
}

.pwd {
    vertical-align: top;
    width: 100%;
}

.reveal,
.reveal-confirm {
    position: absolute;
    z-index: 100;
    right: -8px;
    top: 0;
}

.reveal:focus,
.reveal-confirm:focus {
    outline: none !important;
    box-shadow: none;
}

.profil-search {
    width: 0;
    padding-right: 40px;
    border-color: transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    z-index: 100;
}

.profil-search-cours {
    margin-right: 60px;
}


/* When the input field gets focus, change its width to 100% */

.profil-search:focus {
    border-color: rgb(128, 189, 255);
    width: 100%;
}

.search-button {
    position: absolute;
    right: 30px;
    z-index: 1;
}

.search-button-cours {
    position: absolute;
    right: 90px;
    z-index: 1;
}

.add-cours {
    position: absolute;
    right: 30px;
    margin-left: 20px;
    z-index: 1;
}


/* >>>>>>>>>>>>>>>>>>>> User page <<<<<<<<<<<<<<<<<<<< */

.title-users {
    margin-bottom: 25px;
    padding-left: 0;
}

.title-users:first-of-type {
    margin-top: 0;
}

.user {
    margin-bottom: 30px;
}


/* >>>>>>>>>>>>>>>>>>>> Login <<<<<<<<<<<<<<<<<<<< */

.login-container {
    width: 100%;
    height: 100%;
    background: url('../images/fond/login-fond.png') top center;
    background-size: cover;
    position: relative;
}

.login-container .container {
    color: white;
}

.login-container .container h1 {
    margin-bottom: 33px;
    font-size: 52px;
    margin-top: 15px;
}

.login-container .container p {
    margin-bottom: 0;
    font-size: 23px;
}

#form-container {
    align-items: center;
}

.login-container form {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 50%;
}

.email-group {
    margin-left: 25px;
    margin-right: 25px;
}

.password-group {
    margin-top: 8%;
}

.styled {
    border-radius: 50px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border-color: #254395;
    border-width: 4px;
    outline: none;
}

.styled:hover {
    background-color: #254395;
    border-color: transparent;
    outline: none;
}

.login-container .styled {
    margin-top: 40px;
}

.password-forget {
    color: #15F6FC;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.35);
}

.password-forget:hover {
    color: #15F6FC;
}

.respo-support {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    #form-container {
        align-items: center;
    }
    .login-container form {
        width: 90%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .password-forget {
        background: transparent;
    }
}

@media only screen and (max-width: 990px) {
    .login-container form {
        width: 70%;
    }
}

@media only screen and (max-width: 1200px) {
    .login-container .container h1 {
        font-size: 48px;
    }
    .login-container .container p {
        font-size: 18px;
    }
}


/* >>>>>>>>>>>>>>>>>>>> Confirm password <<<<<<<<<<<<<<<<<<<< */

#confirm .password-forget {
    background-color: transparent;
    margin-left: 16px;
}


/* >>>>>>>>>>>>>>>>>>>> Users index <<<<<<<<<<<<<<<<<<<< */

#pointless-button {
    display: none;
}

/* ##########################   COMMENTS   ########################## */

/* >>>>>>>>>>>>>>>>>>>> Cards <<<<<<<<<<<<<<<<<<<< */

.add-comment {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s ease-out;
}

.add-comment-btn-box {
    display: none;
}

.add-comment-btn {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.add-comment-btn-submit {
    color: #fff;
    background-color: rgb(204, 204, 204);
    cursor: default;
}

.add-comment-cancel {
    color: rgb(96, 96, 96);
    font-weight: 500;
    background-color: transparent;
}

.comment-thread,
.comment-reply {
    margin-bottom: 16px;
}

.comment {
    /* margin-bottom: 10px; */
}

.comment-reply {
    margin-left: 50px;
}

.more-comments {
    margin-left: 90px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #065FD4;
    font-size: 14px;
    font-weight: normal;
}

.comment-author-thumbnail {
    padding-top: 4px;
}

.comment-author {
    font-size: 14px;
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
}

.author-text {
    margin-right: 4px;
    margin-bottom: 2px;
    font-weight: 500;
    color: rgb(3, 3, 3)
}

.published-time-text {
    color: rgb(96, 96, 96);
}

.comment-content {
    font-size: 14px;
    color: rgb(3, 3, 3)
}

.reply-button,
.edit-button,
.delete-button {
    margin-top: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 15px;
}

.reply-button a,
.edit-button a,
.delete-button a {
    cursor: pointer;
}

.edit-button a {
    color: green;
    text-decoration: none;
}

.edit-button a:hover {
    color: green;
}

.delete-button a {
    color: red;
    text-decoration: none;
}

.delete-button a:hover {
    color: red;
}

.link-see-replies-box {
    cursor: pointer;
    color: #065FD4;
    font-size: 14px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 10px;
}

.link-see-replies {
    margin-left: 8px;
}
