!public/css/*.css
/node_modules
/public/images
public/audio
/storage/*.key
.env
.env.backup
../.idea/
composer.lock
site_ITS_db.sql
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
site-web-its-7c23329334b3.json
public/.htaccess
public/lib/.DS_Store
composer.lock
/vendor
.vscode/